// home
.home-banner {
    background-image: url("/src/assets/img/homeBanner.jpg");
    background-size: cover;
    background-position: center 30%;
    height: calc(100vh - 82px );
    h2 {
        font-family: "Dela Gothic One", sans-serif;
        font-weight: 400;
        font-size: 3rem;
    }
}

.category-cards {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.category-cards:hover {
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);
    transition: all 0.7s ease-out;
    cursor: pointer; 
    img {
        transform: scale(1.05);
        transition: all 0.7s ease-out;
    }
}

//products
.menu-banner{
    height: 400px;
    object-fit: cover;
    opacity: 0.8;
}

.product-cards {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.product-cards:hover {
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);
    transition: all 0.7s ease-out;
    cursor: pointer; 
    img {
        transform: scale(1.05);
        transition: all 0.7s ease-out;
    }
}

.category-select select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.category-select select:hover {
    cursor: pointer; 
}


.category-select::after {
    content:"▼";
    color: #ffffff;    
    padding: 12px 0px;
    position: absolute; right: 25px; top: 0px;    
    z-index: 1;
    text-align: center;
    width: 10%;
    height: 100%;      
    pointer-events: none;
    box-sizing: border-box;   
}




// cart
.cart-list-img {
    height: 80px;
    width: 120px;
    object-fit: cover;
}

// login
.login {
    width: 400px;
    text-align: center;
    position: absolute;
    top: 33%;
}